# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# Test reports
.coverage
htmlcov/
.pytest_cache/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

#md files
ARCHITECTURE.md